<ui:composition 
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    template="templates/taskwebapp-layout.xhtml">

    <ui:define name="app_specific_menu_section">
        <p:menuitem style="vertical-align: middle">
            <p:graphicImage value="./resources/images/taskInsight.png"
                            width="24" height="24" style="float: top"/>
            <p:spacer width="10" />
            <h:outputText value="Tasky.  Myntra Report and Task Manager" style="font-size: large;" />
        </p:menuitem>
    </ui:define>

    <ui:define name="leftMenu">
        <p:panelMenu>
            <p:submenu label="Feedback" icon="ui-icon-heart"
                       rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.FeedbackReports')}">  
                <p:menuitem value="All" 
                            actionListener="#{taskwebapp.getReportData('Feedback All')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            /> 
                <p:menuitem value="3PL" 
                            actionListener="#{taskwebapp.getReportData('Feedback 3PL')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            /> 
                <p:menuitem value="ML" 
                            actionListener="#{taskwebapp.getReportData('Feedback ML')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            /> 
            </p:submenu>
        </p:panelMenu>

        <p:panelMenu>
            <p:submenu label="Finance" icon="ui-icon-heart" 
                       rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.FinanceReports')}">
                <p:menuitem value="Finance Tasks" 
                            actionListener="#{taskwebapp.getReportData('Finance Tasks')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            />  

                <p:menuitem value="Finance NEFT" 
                            actionListener="#{taskwebapp.getReportData('Finance NEFT')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            />  
            </p:submenu>
        </p:panelMenu>
        
        <p:panelMenu>
            <p:submenu label="Catalogue" icon="ui-icon-heart" 
                       rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.CatalogueReports')}">
                <p:menuitem value="Catalogue Tasks" 
                            actionListener="#{taskwebapp.getReportData('Catalogue Tasks')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            />  
            </p:submenu>
        </p:panelMenu>

        <p:panelMenu model="#{taskyReportPermissionCache.deliveryMLmodel}" 
                     rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.DeliveryMLReports')}" />

        <p:panelMenu>
            <p:submenu label="Delivery - 3PL" icon="ui-icon-heart"
                       rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.Delivery3PLReports')}">
                <p:submenu label="3PL">
                    <p:menuitem value="3PL All" 
                                actionListener="#{taskwebapp.getReportData('3PL All')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />

                    <p:menuitem value="BlueDart North" 
                                actionListener="#{taskwebapp.getReportData('BlueDart North')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="BlueDart South" 
                                actionListener="#{taskwebapp.getReportData('BlueDart South')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="FirstFlight North" 
                                actionListener="#{taskwebapp.getReportData('FirstFlight North')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="FirstFlight South" 
                                actionListener="#{taskwebapp.getReportData('FirstFlight South')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="Overnight Express North" 
                                actionListener="#{taskwebapp.getReportData('Overnight Express North')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="Overnight Express South" 
                                actionListener="#{taskwebapp.getReportData('Overnight Express South')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="Aramex" 
                                actionListener="#{taskwebapp.getReportData('Aramex')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="DTDC" 
                                actionListener="#{taskwebapp.getReportData('DTDC')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="Delhivery" 
                                actionListener="#{taskwebapp.getReportData('Delhivery')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />

                    <p:menuitem value="Ecomm Express" 
                                actionListener="#{taskwebapp.getReportData('Ecomm Express')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="Fedex" 
                                actionListener="#{taskwebapp.getReportData('Fedex')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />

                    <p:menuitem value="India On Time" 
                                actionListener="#{taskwebapp.getReportData('India On Time')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="Quantium" 
                                actionListener="#{taskwebapp.getReportData('Quantium')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                    <p:menuitem value="VRL Logistics" 
                                actionListener="#{taskwebapp.getReportData('VRL Logistics')}"
                                icon="ui-icon-document" 
                                update=":taskForm,:taskButtonForm,:taskDetailForm"
                                oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                                />
                </p:submenu>

                <p:menuitem value="3PL Invalid Tracking / ODA" 
                            actionListener="#{taskwebapp.getReportData('3PL invalid tracking number and ODA')}"
                            icon="ui-icon-document" 
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('north');taskyLayout.layout.close('east');taskyLayout.layout.close('north')"
                            />
            </p:submenu>  
        </p:panelMenu>

        <p:panelMenu>
            <p:submenu label="Marketing" icon="ui-icon-heart"
                       rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.MarketingReports')}">
                <p:menuitem value="Marketing" 
                            actionListener="#{taskwebapp.getReportData('Marketing_tasky')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            />  
            </p:submenu>
        </p:panelMenu>
        
        
        <p:panelMenu>
            <p:submenu label="Warehouse" icon="ui-icon-heart"
                       rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.Delivery3PLReports') 
                                   or not empty taskyReportPermissionCache.getPermission('tasky.WarehouseReports')}">
                <p:menuitem value="Missing Component" 
                            actionListener="#{taskwebapp.getReportData('Missing Component')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.Delivery3PLReports') 
                                        or not empty taskyReportPermissionCache.getPermission('tasky.WarehouseReports')}"
                            />  
                <p:menuitem value="Pick Up" 
                            actionListener="#{taskwebapp.getReportData('Pick Up')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.Delivery3PLReports')}"
                            />  
                <p:menuitem value="RTO" 
                            actionListener="#{taskwebapp.getReportData('RTO')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.Delivery3PLReports')}"
                            /> 
                <p:menuitem value="Return" 
                            actionListener="#{taskwebapp.getReportData('Return')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.Delivery3PLReports')}"
                            />  
                <p:menuitem value="WIP_Packed More than 24 hrs" 
                            actionListener="#{taskwebapp.getReportData('WIP_Packed More than 24 hrs')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.Delivery3PLReports') 
                                        or not empty taskyReportPermissionCache.getPermission('tasky.WarehouseReports')}"
                            />
                <p:menuitem value="Goodwill Reshipment" 
                            actionListener="#{taskwebapp.getReportData('Goodwill Reshipment')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('east');"
                            rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.WarehouseReports')}"
                            />
            </p:submenu>
        </p:panelMenu>

        <p:panelMenu>
            <p:submenu label="Engineering" icon="ui-icon-heart"
                       rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.EnggReports')}">  
                <p:menuitem value="Engg All" 
                            actionListener="#{taskwebapp.getReportData('Engg All')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('north');taskyLayout.layout.close('east');taskyLayout.layout.close('north')"
                            />  
            </p:submenu>

        </p:panelMenu>
        
        <p:panelMenu>
            <p:submenu label="Missing Tasks" icon="ui-icon-heart"
                       rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.All')}">  
                <p:menuitem value="Missing Tasks Report" 
                            actionListener="#{taskwebapp.getMissingReportData('Find missing Tasks')}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.close('north');taskyLayout.layout.close('east');taskyLayout.layout.close('north')"
                            />  
            </p:submenu>

        </p:panelMenu>


        <p:panelMenu>
            <p:submenu label="Excel" icon="ui-icon-heart" styleClass="ui-panelmenu-header-excel">  
                <p:menuitem value="Excel Uploader" 
                            actionListener="#{taskwebapp.enableExcelUploader}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('east');"
                            />  
                <p:menuitem value="UD Calling" 
                            rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.All')}"
                            actionListener="#{taskwebapp.enableCreateTaskUploader()}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('east');"
                            />
                <p:menuitem value="Detractor Calling" 
                            rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.All')}"
                            actionListener="#{taskwebapp.enableDetractorUploader()}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('east');"
                            />
                <p:menuitem value="Close Proactive Tasks" 
                            rendered="#{not empty taskyReportPermissionCache.getPermission('tasky.All')}"
                            actionListener="#{taskwebapp.enableCloseTasksUploader()}" 
                            icon="ui-icon-document"
                            update=":taskForm,:taskButtonForm,:taskDetailForm"
                            oncomplete="taskyLayout.layout.close('east');"
                            />
            </p:submenu>
        </p:panelMenu>
    </ui:define>

    <ui:define name="content">
        <p:panel header="Upload Excel" rendered="#{taskwebapp.showExcelUploader == 1}"
                 widgetVar="uploadExcelPanel">
            <p:messages id="excelUploadMessage" for="excelUploadMessage" closable="true"
                        autoUpdate="true" globalOnly="false" redisplay="false" 
                        showDetail="true"
                        escape="false"/>
            <h:outputText value="Update Tasks"/>
            <h:form enctype="multipart/form-data">
                <p:fileUpload
                    fileUploadListener="#{taskwebapp.handleFileUpload}"
                    mode="advanced" auto="true"
                    allowTypes="/(\.|\/)(xls)|(xlsx)$/" 
                    />                    
            </h:form> 
            <br/>
            <br/>
            <h:outputText value="*Maximum number tasks allowed to be updated in single upload is #{taskwebapp.maxTasksAllowedToUpdate}" style="font-weight: bold"/>
        </p:panel>
        <p:panel header="Create UD Calling Tasks" rendered="#{taskwebapp.showExcelUploader == 2}"
                 widgetVar="uploadExcelPanel">
            <p:messages id="taskCreationMessage" for="taskCreationMessage" closable="true"
                        autoUpdate="true" globalOnly="false" redisplay="false" 
                        showDetail="true" showSummary="false"
                        escape="false"/>
            <h:form enctype="multipart/form-data" >
                <p:fileUpload
                    fileUploadListener="#{fileUpload.handleFileUpload}"
                    mode="advanced" auto="true"
                    allowTypes="/(\.|\/)(xls)|(xlsx)$/" 
                    />                    
            </h:form> 
        </p:panel>
        
        <p:panel header="Create Detractor Calling Tasks" rendered="#{taskwebapp.showExcelUploader == 3}"
                 widgetVar="uploadExcelPanel">
            <p:messages id="dcCreationMessage" for="dcCreationMessage" closable="true"
                        autoUpdate="true" globalOnly="false" redisplay="false" 
                        showDetail="true" showSummary="false"
                        escape="false"/>
            <h:form enctype="multipart/form-data" >
                <p:fileUpload
                    fileUploadListener="#{detractorCalling.handleFileUpload}"
                    mode="advanced" auto="true"
                    allowTypes="/(\.|\/)(xls)|(xlsx)$/" 
                    />                    
            </h:form> 
            <br/>
            <br/>
            <h:outputText value="*Maximum number of tasks that can be created at once is #{detractorCalling.maxTasksAllowedToCreate}." style="font-weight: bold"/>
        </p:panel>
        
        <p:panel header="Close Proactive OB Tasks" rendered="#{taskwebapp.showExcelUploader == 4}"
                 widgetVar="uploadExcelPanel">
            <p:messages id="closeTaskMessage" for="closeTaskMessage" closable="true"
                        autoUpdate="true" globalOnly="false" redisplay="false" 
                        showDetail="true" showSummary="false"
                        escape="false"/>
            <h:form enctype="multipart/form-data" >
                <p:fileUpload
                    fileUploadListener="#{closeTasks.handleFileUpload}"
                    mode="advanced" auto="true"
                    allowTypes="/(\.|\/)(xls)|(xlsx)$/" 
                    />                    
            </h:form> 
            <br/>
            <br/>
            <h:outputText value="*Only Proactive OB Tasks can be closed through this feature." style="font-weight: bold"/>
            <br/>
            <h:outputText value="*Maximum number of tasks that can be closed at once is #{closeTasks.maxTasksAllowedToClose}." style="font-weight: bold"/>
        </p:panel>

        <p:panel widgetVar="taskPanel" 
                 id="taskPanel" header="#{(not empty taskwebapp.rightnowReportModel) ? taskwebapp.getDisplayName() : 'Select Report from Left Navigation to begin....'}"
                 style="margin-bottom:10px;"
                 rendered="#{taskwebapp.showExcelUploader == 0}">
            <p:dataTable var="task"
                         id="taskTable"
                         rowKey="#{task.rightnowReportDataList.get(0)}"
                         value="#{taskwebapp.rightnowReportModel.rightnowReportRowEntryList}" 
                         emptyMessage="#{taskwebapp.message}"
                         selection="#{taskwebapp.selectedTasks}"
                         rendered="${not empty taskwebapp.rightnowReportModel}"
                         scrollable="true" scrollHeight="350" resizableColumns="true"> 
                <p:ajax event="rowSelectCheckbox" update=":taskForm:display" />
                <p:ajax event="rowUnselectCheckbox" update=":taskForm:display" />
                <!--<p:ajax event="rowToggle" listener="# {taskwebapp.onRowToggle}" />
                <p:ajax event="rowSelect" listener="# {taskwebapp.onRowSelect}"   
                        update=":taskDetailForm:taskInfo" oncomplete="PF('taskyLayout').toggle('east');PF('taskyLayout').toggle('west')" />-->

                <p:column style="width:4%">  
                    <p:commandButton id="selectButton"  
                                     update=":taskDetailForm:taskInfo :taskDetailForm:taskAttachmentTable :taskDetailForm:taskNoteTable" 
                                     oncomplete="taskyLayout.layout.close('west');taskyLayout.layout.open('east');"
                                     icon="ui-icon-search" title="View"
                                     action="#{taskwebapp.retrieveTaskDetails(task)}"/>  
                </p:column>  

                <p:column selectionMode="multiple" style="width:2%" />  

                <p:columns value="#{taskwebapp.rightnowReportModel.rightnowReportColumnEntryList}" 
                           var="columnEntry"
                           columnIndexVar="colIndex" >

                    <f:facet name="header">
                        #{columnEntry.columnName}
                    </f:facet>

                    <h:outputText value="#{task.rightnowReportDataList[colIndex]}" />


                </p:columns>

            </p:dataTable>

            <p:dialog widgetVar="dlg" header="Add note" resizable="true" closeOnEscape="true" closable="true">
                <p:inputTextarea id="notes" value="#{taskwebapp.newNote}" style="width: 100%"/>  
                <br/>
                <p:commandButton id="submitButton" value="Submit" 
                                 action="#{taskwebapp.saveTaskNotes()}" 
                                 oncomplete="PF('dlg').hide();"
                                 update=":taskForm:taskPanel"
                                 />  
            </p:dialog>

            <p:dialog widgetVar="uploadDlg" header="Upload Attachment" resizable="true" closable="true" closeOnEscape="true" id="uploadDlg">

                <p:outputPanel id="display">
                    <h:panelGrid>
                        <h:form id="uploadAttForm" enctype="multipart/form-data">
                            <p:fileUpload
                                fileUploadListener="#{taskwebapp.handleAttachmentUpload}"
                                mode="advanced" fileLimit="1" uploadLabel="Upload Attachment"
                                allowTypes="/(\.|\/)(gif|jpe?g|png)$/" oncomplete="PF('uploadDlg').hide();" update=":taskButtonForm :taskDetailForm:taskAttachmentTable"/>

                        </h:form>
                    </h:panelGrid> 
                </p:outputPanel>
            </p:dialog>

        </p:panel>
    </ui:define>

    <ui:define name="footerContent">
        <p:panel widgetVar="footer" id="footer" rendered="#{taskwebapp.showExcelUploader == 0 and not empty taskwebapp.reportName}">
            <p:messages id="taskStatusMessage" for="taskStatusMessage" closable="true"
                        autoUpdate="true" globalOnly="false" redisplay="false" 
                        showDetail="true" />

            <h:outputText value="#{taskwebapp.reportName} ( #{taskwebapp.rightnowReportModel.rightnowReportRowEntryList.size()} Tasks )" />
            <p:commandButton value="Add Note" icon="ui-icon-search" 
                             onclick="PF('dlg').show();" />  
            <p:commandButton value="Download Report" 
                             icon="ui-icon-search" ajax="false"
                             process=":taskButtonForm"
                             global="true" >

                <p:fileDownload value="#{taskwebapp.excelReport}" />
            </p:commandButton>

            <br/><br/>
            <h:outputText value="Task Status Change - only by Excel Uploader !! " style="font-weight: bold"/>
        </p:panel>
    </ui:define>

    <ui:define name="taskDetails">
        <p:messages id="taskUploadMessage" for="taskUploadMessage" closable="true"
                    autoUpdate="true" globalOnly="false" redisplay="false" 
                    showDetail="true" />
        <ui:param name="taskIdLabel" value="For Task ID: #{taskwebapp.selectedTaskID}"/>
        <p:panel id="taskInfo" header="#{(not empty taskwebapp.selectedTaskID) ? taskIdLabel : 'No Task Selected'}">                    

            <p:commandButton value="Upload Attachment" 
                             widgetVar="uploadAttButton"
                             icon="ui-icon-search" 
                             style="width:100%"
                             action="#{taskwebapp.showUploadAttachment()}"
                             rendered="#{not empty taskwebapp.selectedTaskID}"/>
            <br/><br/>
            <p:dataTable id="taskAttachmentTable"
                         widgetVar="taskAttachmentTable"
                         var="file"
                         value="#{taskwebapp.attachments}" 
                         emptyMessage="*** No attachments in this task *** "
                         rendered="#{not empty taskwebapp.selectedTaskID}">
                <f:facet name="header">
                    Attachments
                </f:facet>
                <p:column headerText="File Name">
                    <p:commandLink value="#{file.fileName}" target="_blank" ajax="false">
                        <p:fileDownload value="#{taskwebapp.downloadAttachment(file)}"/>
                    </p:commandLink>
                </p:column>
                <p:column headerText="Size">  
                    <h:outputText value="#{file.fileSize} KB" />
                </p:column>
                <p:column headerText="Updated Date">
                    <h:outputText value="#{file.updatedTime}">
                        <f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"/>
                    </h:outputText>
                </p:column>
            </p:dataTable>

            <br/><br/>

            <p:dataTable id="taskNoteTable"
                         widgetVar="taskNoteTable"
                         var="taskNote"
                         value="#{taskwebapp.notes}" 
                         emptyMessage="*** No notes in this task *** "
                         rendered="#{not empty taskwebapp.selectedTaskID}">
                <f:facet name="header">
                    Notes
                </f:facet>
                <p:column headerText="Note">  
                    <h:outputText value="#{taskNote.text}" escape="false" />
                </p:column>
                <p:column headerText="Created Date">
                    <h:outputText value="#{taskNote.createdTime}">
                        <f:convertDateTime pattern="dd-MM-yyyy HH:mm:ss"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="Created By">  
                    <h:outputText value="#{taskNote.createdBy}" />
                </p:column>
            </p:dataTable>

        </p:panel>
    </ui:define>
</ui:composition>
