<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <f:view contentType="text/html" id="fview">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Tasky. Myntra Report and Task Manager</title>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />            
            <link  href="./resources/css/default/default.css" rel="stylesheet" type="text/css" />
        </h:head>

        <h:body>
            <p:layout fullPage="true" resizeTitle="resize" style="background-color:#FFFFFF;" widgetVar="taskyLayout">
                
                <p:layoutUnit position="south" size="140" resizable="true" id="south" 
                              collapsible="true" 
                              style="text-align: center; margin: 5% 0 0 0;overflow:hidden;">
                    <h:form id="taskButtonForm">
                        <ui:insert name="footerContent" />
                    </h:form>

                    <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">  
                        <f:facet name="start">  
                            <p:graphicImage value="./resources/images/loading.gif" />
                        </f:facet>  
                        <f:facet name="complete" >
                            <h:outputText value=""/>
                        </f:facet>
                    </p:ajaxStatus>  
                </p:layoutUnit>
                
                <p:layoutUnit position="north" size="60" id="north"
                              resizable="true" collapsible="true" collapsed="false"
                              style="height:600px;overflow:hidden;"> 
                    <ui:include src="../top-menu-template.xhtml" />

                </p:layoutUnit>

                <p:layoutUnit position="west" id="west"
                              collapsible="true"
                              header="Rightnow Reports" 
                              style="height:580px;overflow:hidden;" size="220" >
                    <h:form id="taskForm2">
                        <ui:insert name="leftMenu" />
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit styleClass="layoutUnitCenter" 
                              position="center" id="center"
                              resizable="true">
                    <h:form id="taskForm">
                        <p:growl id="growl" showDetail="true" />
                        <ui:insert name="content" />
                    </h:form>
                </p:layoutUnit>
                
                <p:layoutUnit position="east" id="east"
                              collapsible="true" collapsed="true" 
                              resizable="true" header="Task Details"
                              style="height:580px;overflow:hidden;" size="400">
                    <h:form id="taskDetailForm">
                        <ui:insert name="taskDetails" />
                    </h:form>
                </p:layoutUnit>

            </p:layout>

            <!-- add js here at the bottom of the HTML body -->
            <h:outputScript library="js" name="taskwebapp.footer.js" />

        </h:body>
    </f:view>
</html>
