/*generic classes*/
.iconHeight{height:30px;}
.iconWidth{height:30px;}
.floatLeft{float:left;}
.clearBoth{clear:both;}

.ui-widget{font-size:67% !important;}
.ui-widget .ui-widget{font-size:100% !important;}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td{padding:4px 2px;white-space:normal;}
.panelColumns td{vertical-align:top;}
.searchPanelGrid2{float:left;height:40px;margin-bottom:20px;}
.orderItemStyle div{clear:both;}
.orderItemStyle .ui-widget-content{border:0px;}
.couponPanel td, .couponPanel th{width:16%;}
.orderItemGrid thead th, .orderItemGrid tbody td, .orderItemGrid tfoot td{border-width:0px;}
.ui-datagrid-column{width:33%;}
.ui-panelgrid{border-collapse:inherit;}
.ui-panelgrid td{border:none;}
.returnedItem{border-color:red;border-style:solid;}
.cancelledItem{border-color:blueviolet;border-style:solid;}
.exchangedItem{border-color:green;border-style:solid;}
.exchangedItemText{font-weight:bold;color:green;}
.ui-lightbox-content{background-color:white;}
fieldset.marketPlaceShipment{
    border-color:red;
    border-style: solid;
    border-width: 2px;
}
fieldset.ui-fieldset.marketPlaceShipment legend{
    background-color:#A59EF8;
    background-image: none;    
}
.marketPlaceItem{font-weight:bold;color:blue;}
.xpressDeliverySpan{width:auto;}
.xpressImageSpan{display:block;}
.shipmentLegendSpan{display: inline;padding: 10px 0px 0px 10px;}