.ui-widget {
    font-size: 67% !important;
}
.ui-widget .ui-widget {
    font-size: 100% !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    padding: 4px 2px;
    white-space: normal;
}

/*properties for menu item (west layout)*/
.ui-panelmenu-panel .ui-icon{
    width:10%;
}

.ui-panelmenu-panel .ui-menuitem-text{
    word-wrap: break-word;
    width:90%;
}

.ui-panelmenu-header-excel .ui-panelmenu-header a{
    color: #F0ECEC;
    background-color: #848484;
}
/*properties for menu item (west layout)*/