<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <!-- xmlns:c="http://java.sun.com/jsp/jstl/core" -->

    <f:view contentType="text/html" id="fview">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>PRISM. Myntra Customer One View </title>
        <ui:debug />
        <f:metadata>
            <ui:insert name="metadata" />
        </f:metadata>

        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link href="./resources/css/default/oneView.css" rel="stylesheet" type="text/css" />                        
        </h:head>

        <h:body>
            <p:layout fullPage="true" resizeTitle="resize" style="background-color:#FFFFFF;">

                <p:layoutUnit position="west" id="west" collapsible="true" collapsed="true"
                              header="Awesome Shortcuts" style="height:580px;overflow:hidden;" size="225">
                    <p:panelMenu>  
                        <p:submenu label="Delivery">
                            <p:menuitem value="Zipcode" icon="ui-icon-star">  
                                <p:lightBox iframe="true" width="1000px" height="500px" style="display:inline">
                                    <h:outputLink value="#{app.base}/admin/courier_serviceability.php"
                                                  title="Check for Zipcode">
                                        <h:outputText value="Zipcode Serviceability" />
                                    </h:outputLink> 
                                </p:lightBox>
                            </p:menuitem>
                            <p:menuitem value="UD Tracker">  
                                <p:lightBox iframe="true" width="1000px" height="600px" style="display:inline">
                                    <h:outputLink value="#{app.base}/admin/old_returns_tracking/old_undelivered_order_tracking.php"
                                                  title="Undelivered Order Tracking">
                                        <h:outputText value="Undelivered Order Tracking" />
                                    </h:outputLink> 
                                </p:lightBox>
                            </p:menuitem>
                        </p:submenu>
                        <p:submenu label="Telesales">
                            <p:menuitem value="Telesales">  
                                <p:lightBox iframe="true" width="1000px" height="500px" style="display:inline">
                                    <h:outputLink value="#{app.base}/admin/telesales-new.php"
                                                  title="Telesales Order">
                                        <h:outputText value="Telesales Order" />
                                    </h:outputLink> 
                                </p:lightBox>
                            </p:menuitem>
                        </p:submenu>
                    </p:panelMenu>
                </p:layoutUnit>

                <p:layoutUnit styleClass="layoutUnitCenter" position="center">
                    <h:form id="mainForm">
                        <!--global growl to show important information-->
                        <p:growl id="growl" showDetail="true" life="5000"/>
                        
                        <!--global confirmatioin dialogue-->
                        <p:confirmDialog global="true" showEffect="fade" hideEffect="explode" >  
                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>  
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>       
                        </p:confirmDialog>
                        
                        <ui:insert name="content" />
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="30" resizable="false" id="south" style="margin: 5% 0 0 0">
                    <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">  
                        <f:facet name="start">  
                            <p:graphicImage value="./resources/images/loading.gif" />
                        </f:facet>  
                        <f:facet name="complete" >
                            <h:outputText value=""/>
                        </f:facet>
                    </p:ajaxStatus>  
                </p:layoutUnit>
            </p:layout>

            <!-- add js here at the bottom of the HTML body -->
            <h:outputScript library="js" name="prism.footer.js" />

        </h:body>
    </f:view>
</html>
